@model ASPNZBat.Models.SiteSettings

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>SiteSettings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.maxSeats)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.maxSeats)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nearlyFullSeats)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nearlyFullSeats)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.plentySeats)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.plentySeats)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
