@model ASPNZBat.Models.AdminData

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>AdminData</h4>
<hr />
<div class="row">


    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="isVisibleS1L" /> @Html.DisplayNameFor(model => model.isVisibleS1L)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="isVisibleS2L" /> @Html.DisplayNameFor(model => model.isVisibleS2L)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="isVisibleS3L" /> @Html.DisplayNameFor(model => model.isVisibleS3L)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="isVisibleS4L" /> @Html.DisplayNameFor(model => model.isVisibleS4L)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="isVisibleS5L" /> @Html.DisplayNameFor(model => model.isVisibleS5L)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="isVisibleS6L" /> @Html.DisplayNameFor(model => model.isVisibleS6L)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="isVisibleS7L" /> @Html.DisplayNameFor(model => model.isVisibleS7L)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="isVisibleS8L" /> @Html.DisplayNameFor(model => model.isVisibleS8L)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="isVisibleS9L" /> @Html.DisplayNameFor(model => model.isVisibleS9L)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="isVisibleS10L" /> @Html.DisplayNameFor(model => model.isVisibleS10L)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="isVisibleS11L" /> @Html.DisplayNameFor(model => model.isVisibleS11L)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="isVisibleS12L" /> @Html.DisplayNameFor(model => model.isVisibleS12L)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="isVisibleS13L" /> @Html.DisplayNameFor(model => model.isVisibleS13L)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="isVisibleS14L" /> @Html.DisplayNameFor(model => model.isVisibleS14L)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="isVisibleS15L" /> @Html.DisplayNameFor(model => model.isVisibleS15L)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="isVisibleS16L" /> @Html.DisplayNameFor(model => model.isVisibleS16L)
                    </label>
                </div>
            </div>
            <div class="form-group">
                @*<input type="submit" value="Create" class="btn btn-default" />*@
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

