@model IEnumerable<ASPNZBat.Models.SeatBooking>
@{
    ViewData["Title"] = "Index";
}
<!-- Header -->
<header id="header">
    <div class="intro ">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="intro-text">
                        <h1 style="color:azure">Welcome to <span class="brand">Vision College</span></h1>
                        <h2>Your Seat bookings</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div id="services" class="text-center">
    <div class="container-fluid ">

        <table class="table">

            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <td>
                            <label class="badge badge-default trigger">@item.SeatDate.Date.ToShortDateString()</label>
                        </td>
                        <td>
                            <div class="checkbox checkbox-info checkbox-circle">
                                <span class="sessioncheckbox">

                                    <input id="S1" type="checkbox" /> @Html.DisplayFor(modelItem => item.S1)
                                    <label id="S1L" for="S1" class="custom-control-label ui-corner-all alert-heading">


                                        @Html.DisplayNameFor(model => model.S1)
                                    </label>

                                </span>
                            </div>


                        </td>
                        <td>
                            <div class="checkbox checkbox-info checkbox-circle">
                                <span class="sessioncheckbox">
                                    @Html.DisplayFor(modelItem => item.S2)
                                    <input id="S2" type="checkbox" />
                                    <label id="S2L" for="S2" class="custom-control-label ui-corner-all alert-heading">


                                        @Html.DisplayNameFor(model => model.S2)
                                    </label>

                                </span>
                            </div>
                            @*<span class="sessioncheckbox">  @Html.DisplayFor(modelItem => item.S2)</span>*@
                        </td>
                        <td>
                            <div class="checkbox checkbox-info checkbox-circle">
                                <span class="sessioncheckbox">

                                    <input id="S3" type="checkbox" /> @Html.DisplayFor(modelItem => item.S3)
                                    <label id="S3L" for="S3" class="custom-control-label ui-corner-all alert-heading">


                                        @Html.DisplayNameFor(model => model.S3)
                                    </label>

                                </span>
                            </div>
                            @*<span class="sessioncheckbox">  @Html.DisplayFor(modelItem => item.S3)</span>*@
                        </td>
                        <td>
                            <span class="sessioncheckbox">  @Html.DisplayFor(modelItem => item.S4)</span>
                        </td>
                        <td>
                            <span class="sessioncheckbox">  @Html.DisplayFor(modelItem => item.S5)</span>
                        </td>
                        <td>
                            <span class="sessioncheckbox">  @Html.DisplayFor(modelItem => item.S6)</span>
                        </td>
                        <td>
                            <span class="sessioncheckbox">  @Html.DisplayFor(modelItem => item.S7)</span>
                        </td>
                        <td>
                            <span class="sessioncheckbox">  @Html.DisplayFor(modelItem => item.S8)</span>
                        </td>
                        <td>
                            <span class="sessioncheckbox">  @Html.DisplayFor(modelItem => item.S9)</span>
                        </td>
                        <td>
                            <span class="sessioncheckbox">  @Html.DisplayFor(modelItem => item.S10)</span>
                        </td>
                        <td>
                            <span class="sessioncheckbox">  @Html.DisplayFor(modelItem => item.S11)</span>
                        </td>
                        <td>
                            <span class="sessioncheckbox">  @Html.DisplayFor(modelItem => item.S12)</span>
                        </td>
                        <td>
                            <span class="sessioncheckbox">  @Html.DisplayFor(modelItem => item.S13)</span>
                        </td>
                        <td>
                            <span class="sessioncheckbox">  @Html.DisplayFor(modelItem => item.S14)</span>
                        </td>
                        <td>
                            <span class="sessioncheckbox">  @Html.DisplayFor(modelItem => item.S15)</span>
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        @*//no formatting for checkboxes    $('@fid').css( 'display', 'none');   *@
        @*http://jsfiddle.net/8L7v0pbp/*@
        <script>
            //https://api.jquery.com/each/

            //https://stackoverflow.com/questions/53255025/getelementbyid-from-a-html-displayfor-checkbox-in-asp-net-core-2/53255444#53255444
            //<input disabled="disabled" class="check-box" type="checkbox" checked="checked">
            //<input disabled="disabled" class="check-box" type="checkbox">

            $(document).ready(function () {
                $(".sessioncheckbox").each(function () {
                    // if (document.getElementsByClassName(".sessioncheckbox").innerHTML)
                    // check checked state of checkboxes
                    if ($(this).find("#checkbox").prop("checked", true)) {
                        $(".sessioncheckbox").addClass("badge badge-default trigger");
                    };
                });
            });
        </script>





        //Show and hide sessions that are not being used
        var lblid = "#S1L"; //create a session label for the session
        var cbxid = "#S1"; //create a checkbox ID
        var fid = "#f1"; //create a form ID


        List<bool> SessionVis = new List
            <bool>();
        SessionVis = ViewData["SessionVisible"] as List
            <bool>;

        for (int i = 1; i < 16; i++)
        {
            lblid = "#S" + i + "L";
            cbxid = "#S" + i;
            fid = "#f" + i;

            if (SessionVis[i] == false) //true
            {
                <script>
                    $(document).ready(function() {
                        //Hide the checkbox intially id="S1L"
                        $('@cbxid').css('display', 'none');
                        $("label[id= '@lblid']").css('display', 'none');
                        $('@fid').css( 'display', 'none');
                    });
                </script>
            }

            else //false
            {
                <script>
                    $(document).ready(function() {
                        //Show the checkbox intially id="S1L"
                        $('@cbxid').css('display', 'block');
                        $("label[id= '@lblid']").css('display', 'block');
                        $('@fid').css( 'display', 'block');
                    });
                </script>

            }

        }



    }


}