@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model SeatBooking

<div class="container-fluid">
    <div class="row ">
        <div class="col-md-2 col-xs-2  col-md-offset-1">
            <label class="badge badge-default trigger">Monday</label>
        </div>
        <div class="col-md-2 col-xs-2 ">
            <label class="badge badge-default trigger">Tuesday</label>
        </div>
        <div class="col-md-2 col-xs-2 ">
            <label class="badge badge-default trigger">Wednesday</label>
        </div>
        <div class="col-md-2 col-xs-2 ">
            <label class="badge badge-default trigger">Thursday</label>
        </div>
        <div class="col-md-2 col-xs-2 ">
            <label class="badge badge-default trigger">Friday</label>
        </div>
    </div>
    <div class="container-fluid  ui-btn ui-corner-all col-md-offset-1 trigger">
        <div class="row ">
            <label class="">Morning 9am - 11:30am</label>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-1 col-xs-2 ">
                <div id="f1" class="form-group">
                    <div class="checkbox checkbox-info checkbox-circle">
                        <input id="S1" class=" " asp-for="S1" type="checkbox" />
                        <label id="S1L" for="S1" class="custom-control-label ui-corner-all alert-heading">

                            @Html.DisplayNameFor(model => model.S1)
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-2 ">
                <div id="f4" class="form-group">
                    <div class="checkbox checkbox-info checkbox-circle">

                        <input id="S4" asp-for="S4" type="checkbox" />
                        <label id="S4L" for="S4" class="custom-control-label ui-corner-all alert-heading">
                            @Html.DisplayNameFor(model => model.S4)
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-2 ">
                <div id="f7" class="form-group">
                    <div class="checkbox checkbox-info checkbox-circle">
                        <input id="S7" asp-for="S7" type="checkbox" />
                        <label id="S7L" for="S7">
                            @Html.DisplayNameFor(model => model.S7)
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-xs-2 ">
                <div id="f10" class="form-group">
                    <div class="checkbox checkbox-info checkbox-circle">
                        <input id="S10" asp-for="S10" type="checkbox" />
                        <label id="S10L" for="S10">
                            @Html.DisplayNameFor(model => model.S10)
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-2 ">
                <div id="f13" class="form-group">
                    <div class="checkbox checkbox-info checkbox-circle">
                        <input id="S13" asp-for="S13" type="checkbox" />
                        <label id="S13L" for="S13">
                            @Html.DisplayNameFor(model => model.S13)
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid ui-btn ui-corner-all col-md-offset-1 trigger">
        <div class="row">
            <label class=""> Afternoon 12pm - 2:30pm</label>
        </div>
        @*Row 2*@
        <div class="row">
            <div class="col-md-2 col-md-offset-1 col-xs-2 ">
                <div id="f2" class="form-group">
                    <div class="checkbox checkbox-info checkbox-circle">
                        <input id="S2" asp-for="S2" type="checkbox" />
                        <label id="S2L" for="S2">
                            @Html.DisplayNameFor(model => model.S2)
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-2 ">
                <div id="f5" class="form-group">
                    <div class="checkbox checkbox-info checkbox-circle">
                        <input id="S5" asp-for="S5" type="checkbox" />
                        <label id="S5L" for="S5">
                            @Html.DisplayNameFor(model => model.S5)
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-2 ">
                <div id="f8" class="form-group">
                    <div class="checkbox checkbox-info checkbox-circle">
                        <input id="S8" asp-for="S8" type="checkbox" />
                        <label id="S8L" for="S8">
                            @Html.DisplayNameFor(model => model.S8)
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-2 ">
                <div id="f11" class="form-group">
                    <div class="checkbox checkbox-info checkbox-circle">
                        <input id="S11" asp-for="S11" type="checkbox" />
                        <label id="S11L" for="S11">
                            @Html.DisplayNameFor(model => model.S11)
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-2 ">
                <div id="f14" class="form-group">
                    <div class="checkbox checkbox-info checkbox-circle">
                        <input id="S14" asp-for="S14" type="checkbox" />
                        <label id="S14L" for="S14">
                            @Html.DisplayNameFor(model => model.S14)
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid ui-btn ui-corner-all col-md-offset-1 trigger">
        <div class="row">
            <label class=""> Evening 5:30pm - 8:30pm</label>
        </div>
        @*Row 3*@
        <div class="row">
            <div class="col-md-2 col-md-offset-1 col-xs-2 ">
                <div id="f3" class="form-group">
                    <div class="checkbox checkbox-info checkbox-circle">
                        <input id="S3" asp-for="S3" type="checkbox" />
                        <label id="S3L" for="S3">
                            @Html.DisplayNameFor(model => model.S3)
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-2 ">
                <div id="f6" class="form-group">
                    <div class="checkbox checkbox-info checkbox-circle">
                        <input id="S6" asp-for="S6" type="checkbox" />
                        <label id="S6L" for="S6">
                            @Html.DisplayNameFor(model => model.S6)
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-2 ">
                <div id="f9" class="form-group">
                    <div class="checkbox checkbox-info checkbox-circle">
                        <input id="S9" asp-for="S9" type="checkbox" />
                        <label id="S9L" for="S9">
                            @Html.DisplayNameFor(model => model.S9)
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-2 ">
                <div id="f12" class="form-group">
                    <div class="checkbox checkbox-info checkbox-circle">
                        <input id="S12" asp-for="S12" type="checkbox" />
                        <label id="S12L" for="S12">
                            @Html.DisplayNameFor(model => model.S12)
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-2 ">
                <div id="f15" class="form-group">
                    <div class="checkbox checkbox-info checkbox-circle">
                        <input id="S15" asp-for="S15" type="checkbox" />
                        <label id="S15L" for="S15">
                            @Html.DisplayNameFor(model => model.S15)
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{



    }
}