@using System.Security.Cryptography
@using ASPNZBat.ViewModels
@using Humanizer
@using Microsoft.CodeAnalysis.CSharp
@model ASPNZBat.Models.SeatBookingVM
@{
    ViewData["Title"] = "_Stats";
}
<div style="overflow-x:auto;">
    <div class="container-fluid ui-btn ui-corner-all col-md-offset-2 trigger">
        <table style="width:100%" class="table table-striped table-borderless" Id="tablestats">
            <thead>
                <tr>
                    <th>Date</th>
                    <th id="1th">S1</th>
                    <th id="2th">S2</th>
                    <th id="3th">S3</th>
                    <th id="4th">S4</th>
                    <th id="5th">S5</th>
                    <th id="6th">S6</th>
                    <th id="7th">S7</th>
                    <th id="8th">S8</th>
                    <th id="9th">S9</th>
                    <th id="10th">S10</th>
                    <th id="11th">S11</th>
                    <th id="12th">S12</th>
                    <th id="13th">S13</th>
                    <th id="14th">S14</th>
                    <th id="15th">S15</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewData["CountSessions"] as List<SummaryStatsVM>)
                {
                    <tr class="itemRow">
                        <td class="date">@item.SeatDate.Date.ToShortDateString()</td>
                        <td id="sS1" class="sess">@item.S1</td>
                        <td id="sS2" class="sess">@item.S2</td>
                        <td id="sS3" class="sess">@item.S3</td>
                        <td id="sS4" class="sess">@item.S4</td>
                        <td id="sS5" class="sess">@item.S5</td>
                        <td id="sS6" class="sess">@item.S6</td>
                        <td id="sS7" class="sess">@item.S7</td>
                        <td id="sS8" class="sess">@item.S8</td>
                        <td id="sS9" class="sess">@item.S9</td>
                        <td id="sS10" class="sess">@item.S10</td>
                        <td id="sS11" class="sess">@item.S11</td>
                        <td id="sS12" class="sess">@item.S12</td>
                        <td id="sS13" class="sess">@item.S13</td>
                        <td id="sS14" class="sess">@item.S14</td>
                        <td id="sS15" class="sess">@item.S15</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
